### Celloscope's expected input

1) **C_gs.csv**: ST marker gene expression maxtix

2) **matB.csv**: binary matrix (prior knowledge about marker genes)

3) **n_cell.csv**: estimates for all number of cell in each spot


<span style="color:red">IMPORTANT: marker genes (rows) in  **C_gs.csv** should be in the same order as marker genes (columns) **matB.csv**. Spots (rows) in **n_cell.csv** should in the same order as spots (columns) in **C_gs.csv**.</span>

**1) ST expression matrix**

In [1]:
C_gs <- read.csv("~/Celloscope/example/data/C_gs.csv", row.names=1)
C_gs[1:5, 1:5]

       X35x79 X44x94 X42x96 X26x94 X27x99
Slc1a3  7     5      7      3      1
Gja1    0     2      4      1      0
Atp1a2 14     7      9      1      3
Atp1b2  4     3      4      2      3
Bcan    3     3      1      5      3

**2) Marker genes binary matrix B**

In [2]:
matB <- read.csv("~/Celloscope/example/data/matB.csv",row.names=1)
matB[1:5, 1:5]

       ASC CPC GABA GLUT OLG
Slc1a3 1   0   0    0    0
Gja1   1   0   0    0    0
Atp1a2 1   0   0    0    0
Atp1b2 1   0   0    0    0
Bcan   1   0   0    0    0

**3) Estimates for the number of cells in each ST spot**

In [3]:
n_cells <- read.csv("~/Celloscope/example/data/n_cells.csv", row.names=1)
head(n_cells)
#as.matrix(head(df_number_of_cells))

     spotId cellCount
833  35x79  13
1400 44x94  12
1286 42x96  13
479  26x94  11
484  27x99  16
1171 40x96  15

<span style="color:red">IMPORTANT: </span>

In [4]:
all(rownames(matB)==rownames(C_gs))

[1] TRUE

In [5]:
all(n_cells$spotID==colnames(C_gs))

[1] TRUE